name = "formkeeper"
compatibility_date = "2026-07-26"
compatibility_flags = ["nodejs_compat"]

vars = { TURNSTILE_SECRET = "your-turnstile-secret", EMAIL_FROM = "formkeeper@yourdomain.com", EMAIL_TO = "you@example.com" }

[[d1_databases]]
binding = "FORMS_DB"
database_name = "formkeeper-db"
database_id = "your-database-id"

[[kv_namespaces]]
binding = "FORMS_KV"
id = "your-kv-namespace-id"
